<h1>Welcome to Online Dating</h1>
{{#if user}}
<p>You are logged in..</p>
{{else}}
<a href="/auth/facebook">
<button type="button" class="btn btn-primary btn-lg">Login With Facebook</button>
</a>
{{/if}}